<form class="ui form" (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="authForm">
    <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
    <div class="ui red basic label" *ngIf="authForm.errors">
        <p *ngIf="authForm.errors.credentials">
            Invalid username or password
        </p>
        <p *ngIf="authForm.errors.noConnection">
            No internet connection detected, failed to log in
        </p>
    </div>
    <div>
        <button type="submit" class="ui submit primary button">Submit</button>
    </div>
</form>