<form class="ui form" [formGroup]="authForm">
    <div class="field">
        <label>Username</label>
        <input type="text" formControlName="username">
    </div>
    {{ authForm.get('username').errors | json}}
    <div class="field">
        <label>Password</label>
        <input type="text" formControlName="password">
    </div>
    {{ authForm.get('password').errors | json }}
    <div class="field">
        <label>Confirm Password</label>
        <input type="text" formControlName="confirmPassword">
    </div>
    <button class="ui button submit primary">Submit</button>
    {{ authForm.errors | json }}
</form>